<div class="container">

	<div class="row">
		<div class="col-md-4">
			<ul class="nav flex-column">
			  <% @scraping_origins.each do |sorigin| %>
				  <li class="nav-item">
				  <%= link_to sorigin.link, admin_scraping_origin_path(sorigin), class: "nav-link" %>
				  </li>
			  <% end -%>
		
			</ul>
		</div>
		<div class="col-md-8">
		
			<table class="table">
				<thead>
					<tr>
						<th>Montant Colecté</th>
						<th>Objectif initial</th>
						<th>Nb Contributeurs</th>
						<th>Date Fin</th>
						<th>Scrapé le</th>
					</tr>
				</thead>
				<tbody>
					<% @scraping_data.each do |sdata| %>
						<tr>
							<td><%= number_to_currency sdata.collected_amount_f, unit: "€", format: "%n %u" %></td>
							<td><%= number_to_currency sdata.initial_target_f, unit: "€" , format: "%n %u"%></td>
							<td><%= sdata.nb_contributors %></td>
							<td><%= sdata.scraping_origin.end_date.strftime("%d %b %Y") rescue "" %></td>
							<td><%= sdata.created_at.strftime("%d %b %Y - %H:%M") %></td>
						</tr>
					<% end -%>
				</tbody>
			</table>
			<br>
			<%= will_paginate @scraping_data %>
		</div>			
	</div>


</div>

