

<div class="modal fade" id="editMappingModal" tabindex="-1" role="dialog" aria-labelledby="editMappingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMappingModalLabel">Modifier un source</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= form_tag(edit_source_admin_scraping_sources_path, {remote: true, id: "edit_scraping_source"}) do %>
        <input type="hidden" id="edit_scraping_source_id" name="scraping_source[id]">
        <div class="form-group">
          <label>Nom </label>
          <%= text_field_tag "scraping_source[name]", nil, class: "form-control", required: true, id: "edit_scraping_source_name" %>
        </div>
        <div class="form-group">
          <label>Lien racine</label>
          <%= text_field_tag "scraping_source[url]", nil, class: "form-control", required: true, id: "edit_scraping_source_url" %>
        </div>        
        <div class="form-group">
          <label>Montant collecté</label>
          <%= text_field_tag "scraping_source[ext_collected_amount]", nil, class: "form-control", id: "edit_scraping_source_exp_ca" %>
        </div>
        <div class="form-group">
          <label>Objectif initial</label>
          <%= text_field_tag "scraping_source[ext_initial_target]", nil, class: "form-control", id: "edit_scraping_source_exp_it" %>
        </div>
        <div class="form-group">
          <label>Nombre contributeurs</label>
          <%= text_field_tag "scraping_source[ext_nb_contributors]", nil, class: "form-control", id: "edit_scraping_source_exp_nc" %>
        </div>
        <div class="form-group">
          <label>Date fin</label>
          <%= text_field_tag "scraping_source[ext_end_date]", nil, class: "form-control", id: "edit_scraping_source_exp_ed" %>
        </div>
      
      <% end -%>
      

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulé</button>
        <button id="submit_edit_scraping_source" type="button" class="btn btn-primary" data-dismiss="modal">Modifier</button>
      </div>
    </div>
  </div>
</div>