<div class="card">
  <div class="card-block">
    <p>
      Nous n'avons pas réussi à importer les données. Vueillez noter que seuls ces plateformes sont supportés: kickstarter, indiegogo, ulule, kisskissbankbank
    </p>
    <p>
      <small class="text-muted">Pour demander d'ajout d'une autre plateforme, veuillez nous contactez à support@colect.co</small>
    </p>
  </div>
</div>