<div class="card">
  <div class="card-block">
    <p>
    	Montant Collecté : <%= scraping_data_source[:collected_amount] %><br>
    	Objectif initial : <%= scraping_data_source[:initial_target] %><br>
    	Nb Contributeurs : <%= scraping_data_source[:nb_contributors] %><br>
    </p>
    <%= form_for [:admin, scraping_source, scraping_origin], html: { class: "form-inline"} do |f| %>
      <%= f.hidden_field :link , value: scraping_data_source[:origin_url] %>
       <label class="mr-sm-2">Date fin :</label> 
       <%= f.date_field :end_date, class: "form-control", required: true %>  
       <label class="mr-sm-2">Fréquence de mise à jours</label>
	     <%= f.select :frequency, options_for_select(select_list_frequencies) , {}, class: "custom-select mb-2 mr-sm-2 mb-sm-0"%> 

	  <%= f.submit "Associer", class: "btn btn-success" %>
	<% end  %>
  </div>
</div>