

<div class="modal fade" id="mappingModal" tabindex="-1" role="dialog" aria-labelledby="mappingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mappingModalLabel">Scraping Sources</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <table class="table table-responsive" id="scraping_sources_table">
            <thead>
              <tr>
                <th>Site</th>
                <th>Lien racine</th>
                <th>Montant Collectés</th>
                <th>Objectif</th>
                <th>NB Contricuteurs</th>
                <th>Date de fin</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @scraping_sources.each do |sr| %>
                <tr ss-id="<%= sr.id %>">
                  <td><%= sr.name %></td>
                  <td><%= sr.url %></td>
                  <td><%= sr.ext_collected_amount %></td>
                  <td><%= sr.ext_initial_target %></td>
                  <td><%= sr.ext_nb_contributors %></td>
                  <td><%= sr.ext_end_date %></td>
                  <td><button ss-id="<%= sr.id %>" class="btn btn-primary edit_source" data-toggle="modal" data-target="#editMappingModal"><i class="fa fa-pencil-square-o"></i>
                  </button>
                  <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, admin_scraping_source_path(sr), remote: true, class: "delete-source btn btn-danger", data: {method: "delete", confirm: "Vous voulez supprimer ce mapping ?"} %>
                  </td>
                </tr>
              <% end -%>
            </tbody>
          </table>
          </div>
      

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newMappingModal">Ajouter un nouveau site</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<%= render partial: "new_mapping_modal" %>
<%= render partial: "edit_mapping_modal" %>