

<div class="modal fade" id="newMappingModal" tabindex="-1" role="dialog" aria-labelledby="newMappingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newMappingModalLabel">Ajouter un source</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= form_tag(add_source_admin_scraping_sources_path, {remote: true, id: "create_scraping_source"}) do %>
         
        <div class="form-group">
          <label>Nom </label>
          <%= text_field_tag "scraping_source[name]", nil, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <label>Lien racine</label>
          <%= text_field_tag "scraping_source[url]", nil, class: "form-control", required: true %>
        </div>        
        <div class="form-group">
          <label>Montant collecté</label>
          <%= text_field_tag "scraping_source[ext_collected_amount]", nil, class: "form-control" %>
        </div>
        <div class="form-group">
          <label>Objectif initial</label>
          <%= text_field_tag "scraping_source[ext_initial_target]", nil, class: "form-control" %>
        </div>
        <div class="form-group">
          <label>Nombre contributeurs</label>
          <%= text_field_tag "scraping_source[ext_nb_contributors]", nil, class: "form-control" %>
        </div>
        <div class="form-group">
          <label>Date fin</label>
          <%= text_field_tag "scraping_source[ext_end_date]", nil, class: "form-control" %>
        </div>
      
      <% end -%>
      

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulé</button>
        <button id="submit_scraping_source" type="button" class="btn btn-primary" data-dismiss="modal">Ajouter</button>
      </div>
    </div>
  </div>
</div>