<% if @scraping_result[:success] %>
	$("#import_result").html("<%=j render :partial => 'imported_data' , locals: {scraping_data_source: @scraping_result[:scraping_data], scraping_source: @scraping_source, scraping_origin: @scraping_origin} %>")
<% else %>	
	$("#import_result").html("<%=j render :partial => 'failed_scraping' %>")
<% end %>	