
<div class="container">

	<hr>
	<%= form_tag check_import_admin_scraping_sources_path , remote: true, class: "form-inline", id: "check_import_form" do %>	
		<label class="mr-sm-2" >Lien</label>
	  <%= text_field_tag "scraping_url", nil, class: "form-control col-md-8", id: "scraping_url" ,placeholder: "http://votrecompanie_url" %>

	  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mappingModal">
		  Mapping
		</button>

	<% end -%>
	<label class="custom-control custom-checkbox">
	  <input type="checkbox" class="custom-control-input" id="certified_source_checkbox">
	  <span class="custom-control-indicator"></span>
	  <span class="custom-control-description">Je certifie que je suis l'organisateur de la compagne indiqué dans ce lien</span>
	</label>
	<br>
	<button id="submit_check_import_form" type="button" class="btn btn-success" >
	  Vérifier l'import des données
	</button>

	<hr>


	<div id="import_result"></div>

</div>

<%= render partial: "mapping_modal" %>