<div class="container">
	<div class="card">
		<div class="card-block">
			<%= will_paginate @counterparts%>
		</div>
	</div>
	<table class="table table-bordered">
		<thead class="table-default">
			<tr>
				<th>Campaign</th>
				<th>Montant</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Quantité disponible</th>
				<th>Date de livraison</th>
			</tr>

		</thead>
		<tbody>
			<% @counterparts.each do |counterpart| %>
				<tr>
					<td><%= counterpart.campaign.name rescue nil%></td>
					<td><%= number_to_currency counterpart.amount, unit: "€", format: "%n %u"  %></td>
					<td><%= counterpart.title %></td>
					<td><%= counterpart.description %></td>
					<td><%= counterpart.max_number %></td>
					<td><%= counterpart.shipping_date %></td>
				</tr>
			<% end -%>
		</tbody>
	</table>
</div>