<div class="container">
	<div class="card">
		<div class="card-block">
			<%= will_paginate @campaigns%>
		</div>
	</div>
	<table class="table table-bordered">
		<thead class="table-default">
			<tr>
				<th>Image</th>
				<th>Nom</th>
				<th>Url</th>
				<th>Objectif</th>
				<th>Commencé le</th>
				<th>Durée</th>
				<th>Statut</th>
			</tr>

		</thead>
		<tbody>
			<% @campaigns.each do |campaign| %>
				<tr>
					<td><%= image_tag(campaign.essential_description_image , class: "img-responsive") rescue nil%></td>
					<td><%= campaign.name %></td>
					<td><%= campaign.short_url %></td>
					<td><%= campaign.essential_objective_goal_funding %></td>
					<td><%= campaign.campaign_start_date %></td>
					<td><%= campaign.campaign_duration %></td>
					<td><%= campaign.campaign_status %></td>
					
				</tr>
			<% end -%>
		</tbody>
	</table>

</div>