<div class = "container">
	<div class="wrapper">
		<%= form_tag(sign_in_path, {:class => "form-signin"}) do %>
			
		  <h3 class="form-signin-heading">Welcome ! Please Sign In</h3>
		  <%= text_field_tag "user[email]",nil, placeholder: "Email", class: "form-control" %>
		  <%= password_field_tag "user[password]", nil,  placeholder: "Password", class: "form-control" %>
		  
		  <%= submit_tag "Login", class: "btn btn-lg btn-primary btn-block" %>
		<% end -%>
	</div>
</div>