<div class="container">
	<div class="card">
	  <div class="card-block">
			<%= link_to "Lancer la migration", start_admin_user_migrations_path , remote: true, id: "start_user_migration", class: "btn btn-success" %>
		</div>
	</div>

	<div class="card">
		<div  style="height: 500px; overflow: auto" class="card-block">
			<p id="migration_user_log">
			 	<%= @migration_log %>
			</p>
		</div>
	</div>

</div>

<% if @migration_started %>
	<script type="text/javascript">
		start_user_migration_interval("<%= show_log_admin_user_migrations_path %>")
	</script>
<% end -%>