<div class="container">
	<div class="card">
		<div class="card-block">
			<%= will_paginate @users%>
		</div>
	</div>
	<table class="table table-bordered">
		<thead class="table-default">
			<tr>
				<th>Nom et Prénom</th>
				<th>Email</th>
				<th>Adresse</th>
				<th>Mobile</th>
				<th>Description</th>
				<th>Liens</th>
			</tr>

		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.full_name %></td>
					<td><%= user.email %></td>
					<td><%= user.address %></td>
					<td><%= user.tel1 %></td>
					<td><%= user.description %></td>
					<td><%= user.social_links.pluck(:uri_text,:uri).map{ |sl| sl.join(":")}.join("<br>").html_safe %></td>
				</tr>
			<% end -%>
		</tbody>
	</table>
</div>