<!DOCTYPE html>
<html>
  <head>
    <title>MigrationScraping</title>
    <%= csrf_meta_tags %>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="#">M-Scraping</a>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		      	<%= link_to "Scraping", admin_scraping_sources_path , class: "nav-link" %>
		      </li>
		      <li class="nav-item">
		      	<%= link_to "Historiques", (admin_scraping_origin_path(ScrapingOrigin.first) rescue "#") , class: "nav-link" %>
		      </li>
		       <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Migration
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <%= link_to "Utilisateurs", admin_user_migrations_path, class: "dropdown-item" %>
		          <%= link_to "Campagne", admin_campaign_migrations_path, class: "dropdown-item" %>
		          <%= link_to "Contreparties", admin_counterpart_migrations_path, class: "dropdown-item" %>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Données
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <%= link_to "Utilisateurs", admin_users_path, class: "dropdown-item" %>
		          <%= link_to "Campagne", admin_campaigns_path, class: "dropdown-item" %>
		          <%= link_to "Contreparties", admin_counterparts_path, class: "dropdown-item" %>
		        </div>
		      </li>
		   
		    </ul>
		  </div>
		</nav>

    

    	<%= yield %>

  </body>
</html>
