<!DOCTYPE html>
<html>
  <head>
    <title>MigrationScraping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
  		<% if notice %>
		  	<div class="alert alert-success">
			  <strong>Success!</strong> <%= notice %>
			</div>
		<% end -%>
		<% if alert %>
			<div class="alert alert-danger">
			  <strong>Error!</strong> <%= alert %>
			</div>
		<% end -%>
	</div>

    <%= yield %>
  </body>
</html>
